/* Main */
body {
    font-family: 'Oxygen Mono', 'Times New Roman', monospace;
    background-color:aliceblue;
}

header {
    background-image: url('keyboard.jpeg');
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Volkhov', 'Times New Roman' serif;
    font-size: 45px;
    color: whitesmoke
}

h2 {
    font-family: 'Volkhov', 'Times New Roman' serif;
    text-align: center;
    font-size: 35px;
}

#tablenote{
    font-style: italic;
    font-size: small;
    color: rgb(0,0,128);
    text-align: center;
}
#descriptionsnote {
    text-align: right;
    font-size: x-small
}

h3 {
    font-size: 25px;
}

a {
    color: rgb(225, 225, 5);
}

#keepscrolling {
    text-align: center;
}

.scrolling {
    text-align: center;
    padding: 100px;
}

/* Table */
table {
    margin: 20px;
    padding: 20px;
}

table, thead, td {
    border: 2px solid black;
    border-collapse: collapse;
}

thead {
    text-align: center;
}

.csssyntax {
    color: dodgerblue;
}

/* table examples */
.example {
    background-color: rgb(169, 169, 169);
    position: relative;
    min-height: 200px;
    max-height: 1000px;
    min-width: auto;
    max-width: auto;
}

.rectangleA {
    background-color: red;
}

.rectangleB {
    background-color: orange
}

.rectangleC {
    background-color: green
}

#relativeB {
    position: relative;
    top: 50px;
}

#absoluteB {
    position: absolute;
    top: 15%;
}

#stickyB {
    position: sticky;
    top: 0;
}

#fixedB {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 3px;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 150px;
}
#codecademy {
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
}